<a href="https://colab.research.google.com/github/Sebastian4524/Datavisualization/blob/main/01_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# adition
3 + 3

In [ ]:
# Substraction10-5

In [ ]:
# multiplication
5 * 5    # five times five

In [ ]:
# division
10 / 3

In [ ]:
# integer Division
10 / 11

In [ ]:
# Exponential
2 ** 2

In [ ]:
#composite operantios and parentheses
2 * 3 ** 2 - 1

17

In [ ]:
#composite operantios and parentheses
(2 * 3) ** 2 - 1

35

In [ ]:
#composite operantios and parentheses
2 * (3 ** 2 - 1)

16

In [ ]:
# types of number
*natural* :0,1,2,3,4,5,6,7,8,9 these are all  the positive integers
*intergers*-2,-1,0,1,2
*Real*: All numbers except imaginary ones

In [ ]:
# whay type of number is
type (1.0)

float

In [ ]:
1e9

1000000000.0

In [ ]:
type (1000000000.0)

float

In [ ]:
1*10**-3

0.001

In [ ]:
2.50*10**-4

0.00025

# basics and uselful functions
2024

In [2]:
print(2024)

2024

In [3]:
print(2024, 2, 21 )

2024 2 21

In [36]:
#example loop
for i in range(0,10): print (i)

0
1
2
3
4
5
6
7
8
9

In [13]:
# example - with text
print ("my name is sebastian")
print ( "first name;","sebastian","last name; Montana")
print ( "first name;","sebastian", "\t last name; Montana")
print ( "first name;","sebastian", "\n last name; Montana")
print ( "first name;","sebastian", "\ last name; Montana")

my name is sebastian
first name; sebastian last name; Montana
first name; sebastian 	 last name; Montana
first name; sebastian
 last name; Montana
 last name; Montana

In [16]:
# example with text and numbers
print ( "taking class ",21)

taking class  21

# **Round**

In [18]:
round(7.698525,0)

8.0

In [32]:
# example
##let´s print the result of rounding from 0 to 3 decimals
print("aproximate with", 0 , "decimals:",round(7.2345,0))
print("aproximate with", 1 , "decimals:",round(7.2345,1))
print("aproximate with", 2 , "decimals:",round(7.2345,2))
print("aproximate with", 3, "decimals:",round(7.2345,3))
print("aproximate with", 4 , "decimals:",round(7.2345,4))

aproximate with 0 decimals: 7.0
aproximate with 1 decimals: 7.2
aproximate with 2 decimals: 7.23
aproximate with 3 decimals: 7.234
aproximate with 4 decimals: 7.2345

In [38]:
for i in range(0,10): print (i)

In [41]:
 # gemini way
 for decimals in range(0, 5):
    print(f"aproximate with {decimals} decimals: {round(7.2345, decimals)}")

aproximate with 0 decimals: 7.0
aproximate with 1 decimals: 7.2
aproximate with 2 decimals: 7.23
aproximate with 3 decimals: 7.234
aproximate with 4 decimals: 7.2345

In [49]:
# example with loop
for i in range(0,6):
 print("aproximate with", i , "decimals:",round(7.234567,i))

aproximate with 0 decimals: 7.0
aproximate with 1 decimals: 7.2
aproximate with 2 decimals: 7.23
aproximate with 3 decimals: 7.235
aproximate with 4 decimals: 7.2346
aproximate with 5 decimals: 7.23457

In [50]:
# exercise
## print the result of rounding to 3 decimals the calculation
## 10 divided its precedents

In [65]:
print(round(10/1,3))
print(round(10/2,3))
print(round(10/3,3))
print(round(10/4,3))
print(round(10/5,3))
print(round(10/6,3))
print(round(10/7,3))
print(round(10/8,3))
print(round(10/9,3))
print(round(10/10,3))

10.0
5.0
3.333
2.5
2.0
1.667
1.429
1.25
1.111
1.0

In [60]:
for i in range(0,6):

10.0