<a href="https://colab.research.google.com/github/Sebastian4524/Datavisualization/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
#example
a = 5
b = 7

In [88]:
print(a + b + 11)

23

In [93]:
# trick
x = y = z = 100

In [90]:
print( x + y + z)

300

In [91]:
# trick
n, m = 10,15

In [119]:
# ** delete and clean **
del x,n

NameError: name 'x' is not defined

In [ ]:
# clear all  variables
%reset

In [ ]:
# exercise
## print the result of rounding to 3 decimals the calculation
## 10 divided its precedents
print(round(10/1,3))
print(round(10/2,3))
print(round(10/3,3))
print(round(10/4,3))
print(round(10/5,3))
print(round(10/6,3))
print(round(10/7,3))
print(round(10/8,3))
print(round(10/9,3))
print(round(10/10,3))

In [97]:
for i in range (0,11) : print("aproximate with", i , "decimals:",round(7.23456789,i))

aproximate with 0 decimals: 7.0
aproximate with 1 decimals: 7.2
aproximate with 2 decimals: 7.23
aproximate with 3 decimals: 7.235
aproximate with 4 decimals: 7.2346
aproximate with 5 decimals: 7.23457
aproximate with 6 decimals: 7.234568
aproximate with 7 decimals: 7.2345679
aproximate with 8 decimals: 7.23456789
aproximate with 9 decimals: 7.23456789
aproximate with 10 decimals: 7.23456789

In [106]:

t= 0
y= 10

for i in range (t,y) : print("aproximate with", i , "decimals:",round(7.23456789,i))

aproximate with 0 decimals: 7.0
aproximate with 1 decimals: 7.2
aproximate with 2 decimals: 7.23
aproximate with 3 decimals: 7.235
aproximate with 4 decimals: 7.2346
aproximate with 5 decimals: 7.23457
aproximate with 6 decimals: 7.234568
aproximate with 7 decimals: 7.2345679
aproximate with 8 decimals: 7.23456789
aproximate with 9 decimals: 7.23456789

In [124]:
a = 10      #number
b = 3       #number of decimals
for i in range(1,a+1):
 print(a,"/", i , " = ", round(a/i,b))

10 / 1  =  10.0
10 / 2  =  5.0
10 / 3  =  3.333
10 / 4  =  2.5
10 / 5  =  2.0
10 / 6  =  1.667
10 / 7  =  1.429
10 / 8  =  1.25
10 / 9  =  1.111
10 / 10  =  1.0

In [136]:
for i in range(1,100):
  multiple = 7 * i
  print(multiple)

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196
203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315
322
329
336
343
350
357
364
371
378
385
392
399
406
413
420
427
434
441
448
455
462
469
476
483
490
497
504
511
518
525
532
539
546
553
560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693

In [ ]:
n = 7
m = 100
for i in range(1,m+1):
   print(n*i)

In [132]:
print("the", m, "th multiplies of",n)
for i in range(1+m+1):
  print("the multiple in position ", i,"th is",n*i)

the 100 th multiplies of 7
the multiple in position  0 th is 0
the multiple in position  1 th is 7
the multiple in position  2 th is 14
the multiple in position  3 th is 21
the multiple in position  4 th is 28
the multiple in position  5 th is 35
the multiple in position  6 th is 42
the multiple in position  7 th is 49
the multiple in position  8 th is 56
the multiple in position  9 th is 63
the multiple in position  10 th is 70
the multiple in position  11 th is 77
the multiple in position  12 th is 84
the multiple in position  13 th is 91
the multiple in position  14 th is 98
the multiple in position  15 th is 105
the multiple in position  16 th is 112
the multiple in position  17 th is 119
the multiple in position  18 th is 126
the multiple in position  19 th is 133
the multiple in position  20 th is 140
the multiple in position  21 th is 147
the multiple in position  22 th is 154
the multiple in position  23 th is 161
the multiple in position  24 th is 168
the multiple in position  25 th is 175
the multiple in position  26 th is 182
the multiple in position  27 th is 189
the multiple in position  28 th is 196
the multiple in position  29 th is 203
the multiple in position  30 th is 210
the multiple in position  31 th is 217
the multiple in position  32 th is 224
the multiple in position  33 th is 231
the multiple in position  34 th is 238
the multiple in position  35 th is 245
the multiple in position  36 th is 252
the multiple in position  37 th is 259
the multiple in position  38 th is 266
the multiple in position  39 th is 273
the multiple in position  40 th is 280
the multiple in position  41 th is 287
the multiple in position  42 th is 294
the multiple in position  43 th is 301
the multiple in position  44 th is 308
the multiple in position  45 th is 315
the multiple in position  46 th is 322
the multiple in position  47 th is 329
the multiple in position  48 th is 336
the multiple in position  49 th is 343
the multiple in position  50 th is 350
the multiple in position  51 th is 357
the multiple in position  52 th is 364
the multiple in position  53 th is 371
the multiple in position  54 th is 378
the multiple in position  55 th is 385
the multiple in position  56 th is 392
the multiple in position  57 th is 399
the multiple in position  58 th is 406
the multiple in position  59 th is 413
the multiple in position  60 th is 420
the multiple in position  61 th is 427
the multiple in position  62 th is 434
the multiple in position  63 th is 441
the multiple in position  64 th is 448
the multiple in position  65 th is 455
the multiple in position  66 th is 462
the multiple in position  67 th is 469
the multiple in position  68 th is 476
the multiple in position  69 th is 483
the multiple in position  70 th is 490
the multiple in position  71 th is 497
the multiple in position  72 th is 504
the multiple in position  73 th is 511
the multiple in position  74 th is 518
the multiple in position  75 th is 525
the multiple in position  76 th is 532
the multiple in position  77 th is 539
the multiple in position  78 th is 546
the multiple in position  79 th is 553
the multiple in position  80 th is 560
the multiple in position  81 th is 567
the multiple in position  82 th is 574
the multiple in position  83 th is 581
the multiple in position  84 th is 588
the multiple in position  85 th is 595
the multiple in position  86 th is 602
the multiple in position  87 th is 609
the multiple in position  88 th is 616
the multiple in position  89 th is 623
the multiple in position  90 th is 630
the multiple in position  91 th is 637
the multiple in position  92 th is 644
the multiple in position  93 th is 651
the multiple in position  94 th is 658
the multiple in position  95 th is 665
the multiple in position  96 th is 672
the multiple in position  97 th is 679
the multiple in position  98 th is 686
the multiple in position  99 th is 693
the multiple in position  100 th is 700
the multiple in position  101 th is 707