<a href="https://colab.research.google.com/github/Sebastian4524/Datavisualization/blob/main/Workshop_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align = "center">
<strong> Universidad de La Salle </strong>
</h1>

<h1 align = "center">
<strong> Finance and International Commerce Program </strong>
</h1>

<h1 align = "center">
<strong> Data Visualization - Workshop 1 </strong>
</h1>

# **Instructions**

1. Please read carefully the document. Ask all the questions you may have.
2. Save this file in your Google Drive.
3. DO NOT alter any cell unless it specifically ask you to do it.
4. You will have **two hours** (until 11am) maximum to finish and deliver this workshop.
5. You can use any help you want: your notes, your codes, internet, classmates.
6. Nevertheless, the workshop must be presented individually.
7. Once you have finish, save a copy in your GitHub class repository.
8. The deliver process is as follows:
    
    8.1. Via email you will send the link to the GitHub location.
    
    8.2. In the same mail, just for safety, you will attach a copy of your `.ipynb` file.
    
    8.3. The email must have the subject: "W1 DV".

# **To keep in mind**

* The excercises propouse are intended to **push** you a little futher in your Pyton skills.
* This means that there are going to be exercises above the level seen in class.
* The idea is to incentive your creative thinking and solving problem skills.
* As always there several ways to do the excersice. But in this case, I ask you to use only the tools we learned.
* I ask you to trust me. Give your best effort. Grades do not matter here.

# **Exercise Set**

## Ex 1.

In the cell code below, first create a variable with your full name then write the appropiate code, using *split*, to print your full name as this:

`First Name: José` &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp; `Middle Name: Rodrigo`

`First Last  Name: Vélez` &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp; `Second Last Name: Molano`

In [15]:
# Answ. Ex 1
# (write your code below)
x = "Sebastian"
b = "Montana"
c = "Rojas"
print("First name:",x,
      " Middle name:",b,
      "Last Name:",c,)

First name: Sebastian  Middle name: Montana Last Name: Rojas

## Ex 2.

In the cell code below, you are given two random numbers `x` and `y`.

Write the appropiate code to print the result of dividing `x` by all its precedents rounded by `y` decimal positions.

This is an example of the expected result for `x = 15` and `y = 2`:

`15 / 1 = 15.00`

`15 / 2 = 7.50`

`15 / 3 = 5.00`

`...`

`15 / 15 = 1.00`

**JUST IN CASE!** You must use the variables given to you

In [35]:
# Answ. Ex 2
###################################
#      DO NOT MODIFY THIS PART    #
import numpy as np
x = round(np.random.uniform(12,22))
y = round(np.random.uniform(1,4))
###################################

# (write your code below)

for i in range(y, x):
  print(y, '/', i, '=', round(y/i,y))

2 / 2 = 1.0
2 / 3 = 0.67
2 / 4 = 0.5
2 / 5 = 0.4
2 / 6 = 0.33
2 / 7 = 0.29
2 / 8 = 0.25
2 / 9 = 0.22
2 / 10 = 0.2
2 / 11 = 0.18
2 / 12 = 0.17
2 / 13 = 0.15
2 / 14 = 0.14
2 / 15 = 0.13
2 / 16 = 0.12
2 / 17 = 0.12

## Ex 3.

The Fibonnaci sequence is a sequence constructed by the process:

$x_{i} = x_{i-1} + x_{i-2}$

where $x_{1} = x_{2} = 1$.

Below you are given a random number `z`, write the appropiate code to calculate and print the `z`th position of the Fibonnaci sequence.

In [143]:
# Answ. Ex 3
###################################
#      DO NOT MODIFY THIS PART    #
import numpy as np
z = round(np.random.uniform(50,100))
###################################

# (write your code below)
t=1
p=200

for i in range(t,p):
  print((i,"=",(i+i*2)),"IN position", i*z)

(1, '=', 3) IN position 66
(2, '=', 6) IN position 132
(3, '=', 9) IN position 198
(4, '=', 12) IN position 264
(5, '=', 15) IN position 330
(6, '=', 18) IN position 396
(7, '=', 21) IN position 462
(8, '=', 24) IN position 528
(9, '=', 27) IN position 594
(10, '=', 30) IN position 660
(11, '=', 33) IN position 726
(12, '=', 36) IN position 792
(13, '=', 39) IN position 858
(14, '=', 42) IN position 924
(15, '=', 45) IN position 990
(16, '=', 48) IN position 1056
(17, '=', 51) IN position 1122
(18, '=', 54) IN position 1188
(19, '=', 57) IN position 1254
(20, '=', 60) IN position 1320
(21, '=', 63) IN position 1386
(22, '=', 66) IN position 1452
(23, '=', 69) IN position 1518
(24, '=', 72) IN position 1584
(25, '=', 75) IN position 1650
(26, '=', 78) IN position 1716
(27, '=', 81) IN position 1782
(28, '=', 84) IN position 1848
(29, '=', 87) IN position 1914
(30, '=', 90) IN position 1980
(31, '=', 93) IN position 2046
(32, '=', 96) IN position 2112
(33, '=', 99) IN position 2178
(34, '=', 102) IN position 2244
(35, '=', 105) IN position 2310
(36, '=', 108) IN position 2376
(37, '=', 111) IN position 2442
(38, '=', 114) IN position 2508
(39, '=', 117) IN position 2574
(40, '=', 120) IN position 2640
(41, '=', 123) IN position 2706
(42, '=', 126) IN position 2772
(43, '=', 129) IN position 2838
(44, '=', 132) IN position 2904
(45, '=', 135) IN position 2970
(46, '=', 138) IN position 3036
(47, '=', 141) IN position 3102
(48, '=', 144) IN position 3168
(49, '=', 147) IN position 3234
(50, '=', 150) IN position 3300
(51, '=', 153) IN position 3366
(52, '=', 156) IN position 3432
(53, '=', 159) IN position 3498
(54, '=', 162) IN position 3564
(55, '=', 165) IN position 3630
(56, '=', 168) IN position 3696
(57, '=', 171) IN position 3762
(58, '=', 174) IN position 3828
(59, '=', 177) IN position 3894
(60, '=', 180) IN position 3960
(61, '=', 183) IN position 4026
(62, '=', 186) IN position 4092
(63, '=', 189) IN position 4158
(64, '=', 192) IN position 4224
(65, '=', 195) IN position 4290
(66, '=', 198) IN position 4356
(67, '=', 201) IN position 4422
(68, '=', 204) IN position 4488
(69, '=', 207) IN position 4554
(70, '=', 210) IN position 4620
(71, '=', 213) IN position 4686
(72, '=', 216) IN position 4752
(73, '=', 219) IN position 4818
(74, '=', 222) IN position 4884
(75, '=', 225) IN position 4950
(76, '=', 228) IN position 5016
(77, '=', 231) IN position 5082
(78, '=', 234) IN position 5148
(79, '=', 237) IN position 5214
(80, '=', 240) IN position 5280
(81, '=', 243) IN position 5346
(82, '=', 246) IN position 5412
(83, '=', 249) IN position 5478
(84, '=', 252) IN position 5544
(85, '=', 255) IN position 5610
(86, '=', 258) IN position 5676
(87, '=', 261) IN position 5742
(88, '=', 264) IN position 5808
(89, '=', 267) IN position 5874
(90, '=', 270) IN position 5940
(91, '=', 273) IN position 6006
(92, '=', 276) IN position 6072
(93, '=', 279) IN position 6138
(94, '=', 282) IN position 6204
(95, '=', 285) IN position 6270
(96, '=', 288) IN position 6336
(97, '=', 291) IN position 6402
(98, '=', 294) IN position 6468
(99, '=', 297) IN position 6534
(100, '=', 300) IN position 6600
(101, '=', 303) IN position 6666
(102, '=', 306) IN position 6732
(103, '=', 309) IN position 6798
(104, '=', 312) IN position 6864
(105, '=', 315) IN position 6930
(106, '=', 318) IN position 6996
(107, '=', 321) IN position 7062
(108, '=', 324) IN position 7128
(109, '=', 327) IN position 7194
(110, '=', 330) IN position 7260
(111, '=', 333) IN position 7326
(112, '=', 336) IN position 7392
(113, '=', 339) IN position 7458
(114, '=', 342) IN position 7524
(115, '=', 345) IN position 7590
(116, '=', 348) IN position 7656
(117, '=', 351) IN position 7722
(118, '=', 354) IN position 7788
(119, '=', 357) IN position 7854
(120, '=', 360) IN position 7920
(121, '=', 363) IN position 7986
(122, '=', 366) IN position 8052
(123, '=', 369) IN position 8118
(124, '=', 372) IN position 8184
(125, '=', 375) IN position 8250
(126, '=', 378) IN position 8316
(127, '=', 381) IN position 8382
(128, '=', 384) IN position 8448
(129, '=', 387) IN position 8514
(130, '=', 390) IN position 8580
(131, '=', 393) IN position 8646
(132, '=', 396) IN position 8712
(133, '=', 399) IN position 8778
(134, '=', 402) IN position 8844
(135, '=', 405) IN position 8910
(136, '=', 408) IN position 8976
(137, '=', 411) IN position 9042
(138, '=', 414) IN position 9108
(139, '=', 417) IN position 9174
(140, '=', 420) IN position 9240
(141, '=', 423) IN position 9306
(142, '=', 426) IN position 9372
(143, '=', 429) IN position 9438
(144, '=', 432) IN position 9504
(145, '=', 435) IN position 9570
(146, '=', 438) IN position 9636
(147, '=', 441) IN position 9702
(148, '=', 444) IN position 9768
(149, '=', 447) IN position 9834
(150, '=', 450) IN position 9900
(151, '=', 453) IN position 9966
(152, '=', 456) IN position 10032
(153, '=', 459) IN position 10098
(154, '=', 462) IN position 10164
(155, '=', 465) IN position 10230
(156, '=', 468) IN position 10296
(157, '=', 471) IN position 10362
(158, '=', 474) IN position 10428
(159, '=', 477) IN position 10494
(160, '=', 480) IN position 10560
(161, '=', 483) IN position 10626
(162, '=', 486) IN position 10692
(163, '=', 489) IN position 10758
(164, '=', 492) IN position 10824
(165, '=', 495) IN position 10890
(166, '=', 498) IN position 10956
(167, '=', 501) IN position 11022
(168, '=', 504) IN position 11088
(169, '=', 507) IN position 11154
(170, '=', 510) IN position 11220
(171, '=', 513) IN position 11286
(172, '=', 516) IN position 11352
(173, '=', 519) IN position 11418
(174, '=', 522) IN position 11484
(175, '=', 525) IN position 11550
(176, '=', 528) IN position 11616
(177, '=', 531) IN position 11682
(178, '=', 534) IN position 11748
(179, '=', 537) IN position 11814
(180, '=', 540) IN position 11880
(181, '=', 543) IN position 11946
(182, '=', 546) IN position 12012
(183, '=', 549) IN position 12078
(184, '=', 552) IN position 12144
(185, '=', 555) IN position 12210
(186, '=', 558) IN position 12276
(187, '=', 561) IN position 12342
(188, '=', 564) IN position 12408
(189, '=', 567) IN position 12474
(190, '=', 570) IN position 12540
(191, '=', 573) IN position 12606
(192, '=', 576) IN position 12672
(193, '=', 579) IN position 12738
(194, '=', 582) IN position 12804
(195, '=', 585) IN position 12870
(196, '=', 588) IN position 12936
(197, '=', 591) IN position 13002
(198, '=', 594) IN position 13068
(199, '=', 597) IN position 13134

## Ex 4.

Create a string variable with the name of your favorite music artist or group.Write the appropiate code to print it in reversed order.

*Example:*

`w = 'Dog'`

Expected result: `'goD'`.

In [106]:
# Answ. Ex 4
# (write your code below)

w = "diomedes"
w[::-1]

'sedemoid'